<main>
  <section class="uk-section">
    <div class="uk-container">
      <!-- CONTENT, define routes in "../../app-routing.module.ts", define router links in "../header.component.html" -->
      <router-outlet></router-outlet>
      <!-- /CONTENT -->
    </div>
  </section>
</main>
