<!-- Search filter global component -->
<app-search-filter (filterEmitted)="filter($event)"></app-search-filter>

<!-- Displays data from HTTP request async (whenever it arrives), looping happens with an '*ngFor' -->
<div uk-sortable class="uk-margin-top">
  <div class="uk-card uk-card-hover uk-card-body uk-width-1-2@m uk-margin" *ngFor="let entry of collection$ | async | searchFilter:filterBy; trackBy:trackByFn">
    <h3 class="uk-card-title">{{ entry.item }}</h3>
  </div>
</div>
