<!-- Footer -->
<footer class="uk-section uk-section-default uk-section-small">
  <div class="uk-container">
    <p class="uk-text-small uk-text-center">AVN &copy; {{ currentYear }}</p>
  </div>
</footer>
<!-- /FOOTER -->
