<div class="uk-offcanvas-content">
  <!-- Header -->
  <app-header></app-header>
  <!-- Main -->
  <app-main></app-main>
  <!-- Footer -->
  <app-footer></app-footer>
</div>

<!-- OFF CANVAS, Overlays, mobile menu's, ... -->
<app-off-canvas></app-off-canvas>
