/* You can add global styles to this file, and also import other style files */

/* Using UIkit, https://getuikit.com/ as CSS Framework! */

// @import "_reset.scss";

/* Fonts */


/* Mixins */


// Convert px to em


/* Variables */

// Color definitions


// Element colors


// Background colors


// Border colors


// Borders


// Border radius


// Typography


/* General */


/* HTML sections */

// Header

nav {
  img {
      max-height: 20px;
  }
}

// Body

// Footer
