<!-- Header -->
<header>
  <div class="uk-container">
    <nav class="uk-navbar-transparent" data-uk-navbar>
      <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo" href="#">
          <!-- <img uk-img src="" alt="logo" /> -->
          Boilerplate
        </a>
      </div>
      <div class="uk-navbar-center uk-visible@m">
        <ul class="uk-navbar-nav">
          <li routerLinkActive="active"><a routerLink="/example1">Page 1</a></li>
          <li routerLinkActive="active"><a routerLink="/example2">Page 2</a></li>
          <li>
            <a href="#">Dropdown <span data-uk-icon="icon: triangle-down"></span></a>
            <div class="uk-navbar-dropdown">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li><a href="#">Sub Page 1</a></li>
                <li><a href="#">Sub Page 2</a></li>
                <li><a href="#">Sub Page 3</a></li>
                <li><a href="#">Sub Page 4</a></li>
                <li><a href="#">Sub Page 5</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <li>
            <a href="#" data-uk-icon="icon:user"></a>
            <div class="uk-navbar-dropdown uk-navbar-dropdown-bottom-left">
              <ul class="uk-nav uk-navbar-dropdown-nav">
                <li class="uk-nav-header uk-text-small uk-text-primary">YOUR ACCOUNT</li>
                <li><a href="#"><span data-uk-icon="icon: info"></span> Summary</a></li>
                <li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
                <li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span data-uk-icon="icon: image"></span> Your Pictures</a></li>
                <li class="uk-nav-divider"></li>
                <li><a href="#"><span data-uk-icon="icon: sign-out"></span> Logout</a></li>

              </ul>
            </div>
          </li>
          <li class="uk-hidden@m"><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<!--/HEADER-->
